.list-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 margin-top: 3.5rem;
}

@media only screen and (max-width: 749px) {
  .list-social {
    justify-content: center;
  }
}

.list-social__item .icon {
  height: 16px;
  width: 16px;
  transition: all var(--duration-default) linear;
     /* color: rgb(var(--color-foreground)); */
}

.list-social__link {
  align-items: center;
  display: flex;
  /* padding: 1.3rem 0; */
  color: rgb(var(--color-link));
  /* font-weight:600; */
  text-decoration:none;
  border-radius:50%;
}

.list-social__link:hover .icon, .text-social__link:hover .icon{
  /* transform: scale(1.07); */
  color: rgb(var(--color-link-hover));
}
li.list-social__item:not(:last-child) {
    margin-right: 10px;
}
li.list-social__item a{
    color: rgb(var(--color-foreground));
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  transition: all 0.3s linear;
}
li.list-social__item a:hover{
 border-color:rgb(var(--color-link-hover));  
}
li.list-social__item a svg {
    height: 15px;
    width: 15px;
}